:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-light: #fff;
  --text-gray: #3d3d3d;
  --text-dark: #242424;
  --text-shadow: rgba(0, 0, 0, 0.4);
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  font-weight: 500;
  color: #1d1d1d;
  text-decoration: inherit;
  transition: 0.5s ease;
}
a:hover {
  /* color: #7d7d7d; */
  cursor: pointer;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

input {
  padding: 0;
}
input:required {
  box-shadow: none;
}
input:invalid {
  box-shadow: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}